html, body {
    border: 50px;
    min-height: 100vh;
    max-width: 1000px;
    background-color: white; 
    margin: 0 auto;   
    padding: 10px; 
}

h1 {
    color: red;    
  }

  
p {
    font: optional;
    color: black;    
}

p.storytelling {
    font: Roboto;    
    font-style: italic;
    font-size: 16;
    color: brown;
}

img {    
    width: 300px;        
  }

img.left {  
    float:inline-end;
    padding: 10px;   
  }

a:link {
    color: blue;
  }
  
  a:visited {
    color: blueviolet;
  }

li.motherland {
color: red;
font-size: large;

}